* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 67px;
  position: relative;
  padding: 7px 0 7px 0;
  background-color: rgb(0, 102, 204);
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 50%;
  margin-top: -19.5px;
  margin-left: 8px;
}
