.modal.sign-up-modal {
  text-align: center;
}

.close.modal-close-button {
  color: rgb(0, 102, 204);
  opacity: 1;
}

.close.modal-close-button:hover {
  color: rgb(153, 153, 255);
}

.modal-dialog.sign-up-dialog {
  color: rgb(0, 102, 204);
  width: 400px;
}

.btn.create-account-button {
  font-size: 20px;
  color: white;
  background-color: rgb(0, 102, 204);
  transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn.create-account-button:hover {
  background-color: rgb(153, 153, 255);
}

.modal-dialog.sign-up-dialog input::-webkit-input-placeholder {
  color: rgb(0, 102, 204);
}

.modal-dialog.sign-up-dialog input {
  color: rgb(0, 102, 204);
}

.social-container {
  text-align: center;
}

.modal-footer.sign-up-dialog-footer {
  text-align: center;
  padding-top: 0;
}

.modal-footer.sign-up-dialog-footer h4 {
  margin-bottom: 20px;
}
