<div class="task-settings-container col-md-3">
  <form class="deadline-form task-settings-form" ng-submit="addDeadline(deadline)">
    <input placeholder="Add task deadline" type="text">
    <i class="fa fa-calendar"></i>
    <input type="submit">
  </form>
  <ul class="subtasks-list">
    <li ng-repeat="subTask in subTasks" id="subTask-{{subTasks.indexOf(subTask)}}">
        {{subTask.title}}
      <div class="trash-icon-container">
        <i class="fa fa-trash-o" ng-click="deleteSubTask(subTask)"></i>
      </div>
    </li>
  </ul>
  <form class="task-settings-form add-subTask-form" ng-submit="addSubTask(newSubTaskTitle)"
    ng-class="{'unavailable': subTasks == undefined}">
    <input type="text" placeholder="Add new subtask here..." ng-model="newSubTaskTitle" required>
    <i class="fa fa-plus-square-o"></i>
    <input type="submit">
  </form>
  <form class="task-settings-form note-form">
    <input type="text" placeholder="Add note here..." ng-model="taskNote" required>
    <i class="fa fa-pencil"></i>
    <input type="submit">
  </form>
</div>
