.user-info-container {
  position: relative;
  padding-right: 120px;
  height: 53px;
  background-color: #aaa;
}

.btn.logout-button {
  position: absolute;
  right: 0;
  top: 50%;
  margin: -17.5px 15px 12px 0;
  padding: 1px 12px 1px 12px;
  font-size: 22px;
  color: rgb(38, 83, 43);
  background-color: white;
  transition: background-color 0.3s;
}

.btn.logout-button:hover {
  background-color: rgb(57, 158, 90);;
  color: white;
}

.username {
  left: 0;
  height: 53px;
  line-height: 53px;
  display: inline-block;
  color: #000;
  font-size: 30px;
}
