.col-md-6.tasks-container {
  min-height: 100%;
  overflow: auto;
  position: relative;
  margin: 0;
}

.add-task-form {
  position: absolute;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: rgb(64, 140, 72);
  color: white;
  top: 77px;
  left: 10px;
  right: 10px;
}

.tasks-container .unavailable {
  opacity: 0.75;
  z-index: -1;
}

.add-task-input {
  border: none;
  background-color: inherit;
  width: 100%;
  font-size: 17px;
  padding: 0 30px 0 5px;
  height: 40px;
}

.add-task-input:focus {
  outline: none;
}

.add-task-form input::-webkit-input-placeholder {
  color: white;
}

.fa.new-task-plus-icon {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 5px;
  color: white;
  font-size: 30px;
}

.submit-task-add {
  position: absolute;
  opacity: 0;
  right: 5px;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 30px;
}

.tasks-container .list-group {
  margin-top: 127px;
}

.tasks-container .list-group li {
  position: relative;
  padding-left: 8px;
  padding-right: 30px;
  margin-top: 10px;
  font-size: 20px;
  border: 2px solid rgb(48, 51, 46);
  word-wrap: break-word;
  color: rgb(48, 51, 46);
  transition: background-color 0.3s;
  border-radius: 5px;
  cursor: default;
}

.tasks-container .list-group  li.checked-task {
  background-color: rgb(128, 255, 0);
}

.tasks-container li:hover {
  background-color: rgb(204, 255, 204);
}

.tasks-container .trash-icon-container {
  position: absolute;
  top: 6px;
  right: 0;
  text-align: center;
  width: 36px;
  font-size: 24px;
}

.tasks-container .trash-icon-container i:hover {
  color: rgb(255, 51, 51);
  cursor: pointer;
}
