<div class="tasks-container col-md-6">
  <form class="add-task-form" ng-submit="addTask(newTaskTitle)" ng-class="{'unavailable': tasks == undefined}">
    <input type="text" placeholder="Add new task here..." class="add-task-input" ng-model="newTaskTitle" required>
    <input type="submit" class="submit-task-add">
    <i class="sprite-main sprite-add"></i>
  </form>
  <ul class="list-group">
    <li class="list-item" ng-repeat="task in tasks" id="task-{{tasks.indexOf(task)}}" ng-click="checkTask(task)">
      <span>{{task.title}}</span>
      <i class="sprite-main sprite-delete" ng-click="deleteTask(task)"></i>
    </li>
  </ul>
</div>
