.col-md-8.current-list-container {
  min-height: 100%;
  overflow: auto;
  position: relative;
  margin: 0;
}

.add-task-form {
  position: absolute;
  border-radius: 5px;
  border: 2px solid rgb(48, 51, 46);
  top: 77px;
  left: 10px;
  right: 10px;
}

.add-task-input {
  border: none;
  background-color: inherit;
  width: 100%;
  font-size: 17px;
  padding: 0 30px 0 5px;
  height: 40px;
}

.add-task-input:focus {
  outline: none;
}

.add-task-form input::-webkit-input-placeholder {
  color: rgb(48, 51, 46);
}

.fa.new-task-plus-icon {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 5px;
  color: rgb(48, 51, 46);
  font-size: 30px;
}

.submit-task-add {
  position: absolute;
  opacity: 0;
  right: 5px;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 30px;
}

.current-list-container .list-group {
  margin-top: 127px;
}

.current-list-container .list-group li {
  position: relative;
  padding-left: 32px;
  padding-right: 8px;
  border: 2px solid rgb(48, 51, 46);
  border-radius: 5px;
  margin: 3px 10px 0 10px;
  color: rgb(48, 51, 46);
  transition: background-color 0.3s;
  cursor: default;
}

.current-list-container .list-group li:hover {
  background-color: rgb(0, 204, 122);
  color: white;
}

.current-list-container input[type=radio] {
	position: absolute;
  left: 10px;
  height: 17px;
  width: 17px;
  top: 50%;
  margin-top: -8.5px;
}
