.col-md-3.lists-container {
	width: 320px;
	overflow: auto;
  min-height: calc(100% - 90px);
  padding: 25px 0 50px 0;
  background-color: rgba(255, 255, 255, 0.25);
	color: #fff;
	letter-spacing: -2px;
}

.add-list-form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.add-list-input {
  border: none;
  width: 100%;
  color: #fff;
  padding: 0 35px 0 5px;
  height: 35px;
  background: none;
	font-size: 18px;
}

.add-list-input::-webkit-input-placeholder {color:#fff;}
.add-list-input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.add-list-input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.add-list-input:-ms-input-placeholder      {color:#fff;}

.add-list-input:focus {
  outline: none;
}

.submit-list-add {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 50%;
  margin-top: -20px;
  width: 35px;
  height: 37px;
	cursor: pointer;
}

.sprite-add {
    width: 19px;
    height: 23px;
    background-position: -49px -43px;
}

.new-list-plus-icon {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 8px;
	pointer-events: none;
}

.submit-list-add:hover + .sprite-add {
	background-position: -10px -7px;
}

.lists-container .list-group {
	padding: 0 20px;
	font-size: 0;
	list-style: none;
}

.lists-container .list-group li {
	position: relative;
	font-size: 21px;
	margin-bottom: 4px;
	cursor: pointer;
}

.lists-container .list-group li span {
	border-bottom: 1px solid #fff;
}

.lists-container .list-group .list-title-container {
	width: 250px;
	height: 27px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.sprite-delete {
	display: none;
  width: 26px;
  height: 26px;
  background-position: -38px -102px;
}

.lists-container .list-group li:hover .sprite-delete {
	display: inline-block;
}

.lists-container .list-group li:hover .sprite-delete:hover {
	background-position: -4px -76px;
}

.delete-list-button {
	position: absolute;
	right: 0;
}

.lists-container .list-group  li.checked-list span  {
  color: #b5a929;
	border-color: #b5a929;
}
