<div class="lists-container col-md-3">
  <form class="add-list-form" ng-submit="addList(newListTitle)">
    <input type="text" placeholder="Add new list here..." class="add-list-input" ng-model="newListTitle" required>
    <input type="submit" class="submit-list-add">
    <i class="sprite-main sprite-add new-list-plus-icon"></i>
  </form>
  <ul class="list-group">
    <li class="list-item" ng-repeat="list in user.lists" id="list-{{user.lists.indexOf(list)}}" ng-click="checkList(list)">
      <i class="delete-list-button sprite-main sprite-delete" ng-click="deleteList(list)"></i>
      <div class="list-title-container">
        <span>{{list.title}}</span>
      </div>
    </li>
  </ul>
</div>
