.col-md-2.lists-container {
  height: 100%;
  padding: 67px 0;
  border-right: 1px solid rgb(178, 178, 204);
  background-color: rgb(57, 158, 90);
  margin: 0;
}

.add-list-input {
  border: none;
  width: 100%;
  color: white;
  font-size: 17px;
  padding: 0 30px 0 5px;
  height: 35px;
  background-color: rgb(38, 83, 43);
}

.add-list-input:focus {
  outline: none;
}

.fa.new-list-plus-icon {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 5px;
  color: white;
  font-size: 30px;
}

.add-list-form {
  position: absolute;;
  bottom: 0;
  width: 100%;
}

.submit-list-add {
  position: absolute;
  opacity: 0;
  right: 5px;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 30px;
}

.add-list-form input::-webkit-input-placeholder {
  color: white;
}

.lists-container .list-group li {
  text-align: center;
  padding-left: 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white;
  background-color: rgb(57, 158, 90);
  transition: background-color 0.3s;
  cursor: pointer;
}

.lists-container .list-group li:hover {
  background-color: rgb(44, 234, 163);
}

.lists-container .list-group li:first-child {
  border-top: none;
}
