<!DOCTYPE html>
<html ng-app="loginApp">
  <head ng-controller="styleController">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" ng-href="{{stylesheet}}" ng-repeat="stylesheet in stylesheets">
  </head>
  <body>
    <header>
      <sign-in-form></sign-in-form>
    </header>
    <sign-up-modal-dialog></sign-up-modal-dialog>
  </body>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../builtApps/loginApp.bundle.js"></script>
</html>
